* {
  margin: 0;
  padding: 0;
}

.home {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.centered {
  margin: auto;
}

.block1 {
}

nav {
  display: flex;
  align-items: center;
  line-height: 90px;
}

nav #chocolat {
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  font-size: 11px;
  letter-spacing: 4px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.block1-2 {
  padding: 7em 0;
  text-align: center;
  color: #ffffff;
}

.block1-2 h1 {
  font-size: 33px;
  letter-spacing: 3px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid #C9A958;
}

.block1-2 h3 {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.block1-2 #h3span {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 3px;
}

.block1-3 {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 0.3%;

}
.block1-3 a {
  padding-bottom: 40px;
  margin-bottom: 0.3%;

}
.block1-3 ul {
  display: flex;
  list-style-type: none;
  margin-top: 10em;
}

.fa {
  font-size: 20px;
  color: #E4B484;
  transition: 0.5s;
}

.fa:hover {
  color: #ffffff;
  transition: 0.5s;
}

#italianconcept {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 4px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
}

.block2 {
  display: flex;
  background-color: #ffffff;
}

.block2-1 {
  background-color: #F4EEDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}

.block2-1 h2 {
  color: #24130B;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.block2-1 a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 20px;
  border: 2px solid #C9A958;
  color: #C9A958;
  transition: 0.2s;
}

.block2-1 a:hover {
  background-color: #C9A958;
  color: #222222;
  transition: all 0.2s ease-in-out;
}

.block2-1 p {
  color: #24130B;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 30px;
}

.strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.block2-2 {}

.image2 {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 38em;
}

.image3 {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 38em;
}

.block3 {
  display: flex;
  background-color: #ffffff;
}

.block3-2 {
  background-color: #F4EEDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}

.block3-2 h2 {
  color: #24130B;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.block3-2 a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 20px;
  border: 2px solid #C9A958;
  color: #C9A958;
  transition: 0.2s;
}

.block3-2 a:hover {
  background-color: #C9A958;
  color: #222222;
  transition: all 0.2s ease-in-out;
}

.block3-2 p {
  color: #24130B;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 30px;
}

.block4 {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image1.jpg);
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.block4 h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}

.block4-1 {
  display: flex;
}

.block4-2 {
  display: flex;
  text-align: center;
  background-color: #F4EEDD;
}

.block4-2 h2 {
  color: #24130B;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.block5 {
  margin-top: 7em;
  margin-bottom: 5em;
  text-align: center;
}

.discoverButton {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 20px;
  border: 2px solid #C9A958;
  color: #C9A958;
  transition: 0.2s;
}

.discoverButton:hover {
  background-color: #C9A958;
  color: #222222;
  transition: all 0.2s ease-in-out;
}

.block6 {
  display: flex;
}

.block6-1 {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 38em;
  display: flex;
  align-items: center;
  margin-right: 0.3%;
}

.block6-1-1 {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.block6-1-1 * {
  margin-bottom: 2em;
}

.buttonNews {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 20px;
  border: 2px solid #C9A958;
  color: #C9A958;
  transition: 0.2s;
  margin-right: auto;
}

.buttonNews:hover {
  background-color: #C9A958;
  color: #222222;
  transition: all 0.2s ease-in-out;
}

.editorial {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  margin-right: auto;
  letter-spacing: 3px;
}

.abuDhabi {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  text-decoration: none;
  color: #ffffff;
}

.text {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Georgia', serif;
}

.block6-1-1 h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 2px;
}

#date {
  font-size: 80px;
}

.block6-2 {
  display: flex;
  flex-direction: column;
}

.block6-2 p {
  text-align: center;
  color: #24130B;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
}

#date2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
}

.block6-2-1 {
  display: flex;
  align-items: center;
}

.firstDate {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 19em;
}

.block6-2-2 {
  display: flex;
  align-items: center;
}

.secondDate {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(128, 83, 50, 0.45) 0%), url(images/image7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 19em;
}

.block7 {
  display: flex;
  margin: 0.3% 0;
}

.block7-1 h2 {
  color: #24130B;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.block7-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.block7-1 p {
  color: #24130B;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

.block7-1 a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 20px;
  border: 2px solid #C9A958;
  color: #C9A958;
  transition: 0.2s;
  margin-right: auto;
}

.block7-1 a:hover {
  background-color: #C9A958;
  color: #222222;
  transition: all 0.2s ease-in-out;
}

.footer {
  background-color: rgb(36, 19, 11);
}
.footer {
  display: flex;
  align-items: center;
  height: 50px;
}
.footer ul {
  display: flex;
  list-style: none;
}
.footer p {
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #C9A958;
}
